{%- set external_urls = {
  'github': 'https://github.com/gengshan-y/lab4d-dev',
  'github_issues': 'https://github.com/gengshan-y/lab4d-dev/issues',
  'contributing': 'https://github.com/gengshan-y/lab4d-dev/CONTRIBUTING.md',
  'docs': './index.html',
  'tutorials': './tutorials.html',
  'home': 'https://gengshan-y.github.io/lab4d-dev/',
  'get_started': './get_started.html',
  'data': './get_started.html',
}
-%}
