{%- set external_urls = {
  'github': 'https://github.com/lab4d-org/lab4d',
  'github_issues': 'https://github.com/lab4d-org/lab4d/issues',
  'docs': '/lab4d/api_docs',
  'tutorials': '/lab4d/tutorials',
  'qa': '/lab4d/qa.html',
  'home': '/lab4d/',
  'get_started': '/lab4d/get_started',
  'data_models': '/lab4d/data_models.html',
}
-%}
