{%- set external_urls = {
  'github': 'https://github.com/gengshan-y/lab4d',
  'github_issues': 'https://github.com/gengshan-y/lab4d/issues',
  'contributing': 'https://github.com/gengshan-y/lab4d/CONTRIBUTING.md',
  'docs': '/lab4d/api_docs',
  'tutorials': '/lab4d/tutorials',
  'home': '/lab4d/',
  'get_started': '/lab4d/get_started',
  'data': '/lab4d/get_started.html',
}
-%}
